{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('todo_list') }}" title="Home page">Home</a></li>
        <li><a href="{{ path('todo_list') }}" title="">Final-Meal</a></li>
        <li class="active">Audit Date</li>
    </ol>

    <h2 class="page-header">Montly Audit</h2>

           {% if todos is defined %}
            {% for todo in todos %}
            
            <div class="list-group" style="width: 30%;">
                <a href="#" class="list-group-item list-group-item-warning">
                    <div class="">
                        <center><h3 class="mb-10" style="white-space: pre-wrap;">{{ todo.audit }}</h3>
                        <small>3 days ago</small>
                        </center>
                    </div>
                </a>
            </div>

            {% endfor %}
        {% else %}
            <tr>
                Nothing
            </tr>
        {% endif %}
    
{% endblock %}
